<%= if assigns[:path] && length(@path) > 0 do %>
  <nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs padding-1">
      <%= for el <- @path do %>
        <%= case el do
          {to, label} -> content_tag(:li, link(label, to: to))
          label -> content_tag(:li, label)
        end %>
      <% end %>
    </ul>
  </nav>
<% end %>
