<%= live_render @socket, SkuldaringWeb.TopbarLive, id: "topbar" %>
<main role="main" class="container">
  <div role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="info"><%= live_flash(@flash, :info) %></div>

  <div role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="error"><%= live_flash(@flash, :error) %></div>

  <%= @inner_content %>
</main>
